/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Syntax highlighting styles */
@import 'highlight.js/styles/github.css';

/* Locomotive Scroll v5 */
@import 'locomotive-scroll/locomotive-scroll.css';

body {
  background-color: #FFFFFF;
  color: #000000;
  min-height: 100vh;
}

.blog-post-card {
    background-color: #FFF;
    color: #000;
}